<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}MyWebApp{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="/MyWebApp/home">Home</a>
            {% if 'loggedin' in session %}
                <a href="/MyWebApp/profile">Profile</a>
                <a href="/MyWebApp/logout">Logout</a>
            {% else %}
                <a href="/secure_login">Secure Login</a>
                <a href="/vulnerable_login">Vulnerable Login</a>
                <a href="/MyWebApp/registration">Register</a>
                <a href="/vulnerable_update"> Update</a>
                <a href="/vulnerable_insert"> Insert</a>
                <a href="/delete"> Delete</a>

            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>